<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DISE</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.ISST_DISE_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DISE</servlet-name>
		<url-pattern>/isst_dise</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CARGAREMOJIS</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.CargarEmojis_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CARGAREMOJIS</servlet-name>
		<url-pattern>/votar_traduccion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TRADUCIRESPEMO</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.TraduccionEspEmo_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TRADUCIRESPEMO</servlet-name>
		<url-pattern>/traducirEspEmo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VOTACION</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.Votacion_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VOTACION</servlet-name>
		<url-pattern>/votacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VotarTraduccion</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.VotarTraducciones_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VotarTraduccion</servlet-name>
		<url-pattern>/votar_traducciones</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubirEmoji</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.SubirEmoji_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubirEmoji</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NuevaTraduccion</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.NuevaTraduccion_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NuevaTraduccion</servlet-name>
		<url-pattern>/nueva_traduccion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminTraduccion</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.AdminTrad_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminTraduccion</servlet-name>
		<url-pattern>/admin_traduccion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Ranking</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.Ranking_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ranking</servlet-name>
		<url-pattern>/ranking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NuevoEmoji</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.NuevoEmoji_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NuevoEmoji</servlet-name>
		<url-pattern>/nuevoemoji</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEmoji</servlet-name>
		<servlet-class>es.upm.dit.isst.dise.AdminNuevoEmoji_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEmoji</servlet-name>
		<url-pattern>/admin_nuevo_emoji</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>